# Node
node_modules
dist
.prisma
.idea
.vscode

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
build

# Sensitive environment variables
backend/.env.secrets
backend/.env.local


backend/camera-service/credentials/*
!backend/camera-service/credentials/.gitkeep
