/* ------------------ PAGINA BLOG ------------------ */

.nutrition-lifestyle-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  gap: 1rem;
}

.nutrition-lifestyle-inner h3 {
  font-family: var(--font-family-heading);
  font-size: var(--heading3-size);
  font-weight: var(--heading3-weight);
  color: var(--secondary2-color);
  margin-top: 50px;
}

.nutrition-lifestyle-inner p {
  font-family: var(--font-family-body);
  font-size: var(--body-text-size);
  color: var(--secondary2-color);
}

.cards-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

@media (max-width: 900px) {
  .cards-row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cards-row {
    grid-template-columns: 1fr;
  }
}

.nutrition-card {
  position: relative;
  width: 100%;
  max-width: 320px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.nutrition-card:hover {
  transform: translateY(-10px);
}

.nutrition-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.nutrition-card h3 {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  color: var(--whiteback-color);
  font-family: var(--font-family-heading);
  font-size: var(--heading3-size);
  font-weight: 1000;
  padding: 0.5rem;
  margin: 0;
  text-align: left;
  width: 90%;
}

.blog-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
}

.blog-popup-content {
  background-color: var(--whiteback-color);
  width: 90%;
  max-width: 800px;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 8px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
  animation: slideIn 0.3s ease;
}

.blog-popup-image {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  margin-block: 1rem;
}

.blog-popup-content hr {
  border: solid 1px black;
  width: 100%;
}

.blog-popup-content h1 {
  color: var(--primary-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}

.close-btn-popup {
  margin: 0 !important;
  width: 40px !important;
  position: absolute;
  top: 50px;
  right: 5px;
  width: 40px;
  cursor: pointer;
}

.close-btn-popup svg {
  width: 40px;
  height: 40px;
}