.camera-wrapper video {
  width: 100%;
  border-radius: 10px;
}

.capture-btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.capture-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1000;
}

