:root {
  --primary-color: #788A55;
  --secondary1-color: #D9C86D;
  --secondary2-color: #4D4D4D;
  --secondary3-color: #f4f1e9;
  --secondary4-color: #A7A297;
  --secondary5-color: #e0e0e0;
  --secondary6-color: #E8E8E8;
  --whiteback-color: #ffffff;
  --info-color: #42B2E0;
  --success-color: #42B285;
  --warning-color: #E0B248;
  --error-color: #ff000d;

  /* Typography Variables */
  --font-family-heading: 'Codec Pro', sans-serif;
  --font-family-body: 'Codec Pro', sans-serif;
  --font-family-button: 'TT Norms', sans-serif;

  --heading1-size: clamp(2rem, 5vw + 1rem, 3rem);
  --heading1-weight: 700;
  --heading1-line-height: 1.2;

  --heading2-size: clamp(1.75rem, 4vw + 0.5rem, 2.25rem);
  --heading2-weight: 700;
  --heading2-line-height: 1.2;

  --heading3-size: clamp(1.25rem, 3vw + 0.5rem, 1.75rem);
  --heading3-weight: 400;
  --heading3-line-height: 1.3;

  --body-text-size: clamp(0.95rem, 2vw + 0.5rem, 1rem);
  --body-text-weight: 400;
  --body-text-line-height: 1.5;

  --button-text-size: clamp(0.9rem, 2vw + 0.5rem, 1rem);
  --button-text-weight: 400;
  --button-text-line-height: 1.2;

  --small-text-size: clamp(0.75rem, 2vw + 0.3rem, 0.875rem);
  --small-text-weight: 400;
  --small-text-line-height: 1.4;

  --placeholder-text-size: clamp(0.9rem, 2vw + 0.5rem, 1rem);
  --placeholder-text-weight: 400;
  --placeholder-text-line-height: 1.2;
  --placeholder-text-color: #A7A297;
}

