@import './styles/fonts.css';
@import './styles/variables.css';
@import './styles/base.css';
@import './styles/header.css';
@import './styles/hero.css';
@import './styles/nutrition-evaluation.css';
@import './styles/contact.css';
@import './styles/funcionalidades.css';
@import './styles/advertisements-blog.css';
@import './styles/footer.css';
@import './styles/blog.css';
@import './styles/product-page.css';
@import './styles/community.css';
@import './styles/login.css';
@import './styles/signup.css';
@import './styles/contact-page.css';
@import './styles/nutrition-evaluation-section.css';
@import './styles/search-results.css';
@import './styles/camera.css';
@import './styles/profile-popup.css';
@import './styles/profile-page.css';
@import './styles/compare-page.css';
@import './styles/alert-popup.css';
